body {
	color: #CCC;
}

#title {
  font-family: 'Montserrat Subrayada', sans-serif;
  a {
    text-decoration: none;
    color: #FFF;
  }
}

#logo {
	font-family: 'Montserrat Subrayada', sans-serif;
}

footer {
  color: #FFF;
  font-size: 95%;
  a {
    color: #FFF;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
